<!-- {% extends "network/layout.html" %}
{% block body %}
    {% if user.is_authenticated %}

        <div class="create-new-post">
            <h3>Create new post</h3>
            <form method="post" id="new-post-form">
                {% csrf_token %}
                <textarea class="form-control" id="new-post-body" maxlength="280" placeholder="Write your post here..."></textarea>
                <input type="submit" class="btn btn-primary" id="submit-post"/>
            </form>
        </div>

        <hr>

        <div id="display-all-posts">
        </div>

    {% endif %}
{% endblock %} -->